In [1]:
import pandas as pd
import numpy as np

In [2]:
resDf = pd.read_pickle('predictionResults2.pcl')

In [3]:
resDf

                                                                          y  \
1075 2016-05-31 18:00:00  2016-05-31 18:00:00    92.206177
2016-05-31 19...
     2016-05-31 19:00:00  2016-05-31 19:00:00    88.846814
2016-05-31 20...
     2016-05-31 20:00:00  2016-05-31 20:00:00     99.123025
2016-05-31 2...
     2016-05-31 21:00:00  2016-05-31 21:00:00    101.512154
2016-05-31 2...
     2016-05-31 22:00:00  2016-05-31 22:00:00    71.090867
2016-05-31 23...
     2016-05-31 23:00:00  2016-05-31 23:00:00    61.511194
2016-06-01 00...
     2016-06-01 00:00:00  2016-06-01 00:00:00    27.988291
2016-06-01 01...
     2016-06-01 01:00:00  2016-06-01 01:00:00    11.807716
2016-06-01 02...
     2016-06-01 02:00:00  2016-06-01 02:00:00     3.210972
2016-06-01 03...
     2016-06-01 03:00:00  2016-06-01 03:00:00    -0.575645
2016-06-01 04...
     2016-06-01 04:00:00  2016-06-01 04:00:00     0.718586
2016-06-01 05...
     2016-06-01 05:00:00  2016-06-01 05:00:00     4.920542
2016-06-01 06...
     2016-06-01 06:00:00  2016-06-01 06:00:00    18.632402
2016-06-01 07...
     2016-06-01 07:00:00  2016-06-01 07:00:00    40.526559
2016-06-01 08...
     2016-06-01 08:00:00  2016-06-01 08:00:00     64.629728
2016-06-01 0...
     2016-06-01 09:00:00  2016-06-01 09:00:00     61.460568
2016-06-01 1...
     2016-06-01 10:00:00  2016-06-01 10:00:00     54.984280
2016-06-01 1...
     2016-06-01 11:00:00  2016-06-01 11:00:00     71.990819
2016-06-01 1...
     2016-06-01 12:00:00  2016-06-01 12:00:00     98.219079
2016-06-01 1...
     2016-06-01 13:00:00  2016-06-01 13:00:00    84.099340
2016-06-01 14...
     2016-06-01 14:00:00  2016-06-01 14:00:00    103.055180
2016-06-01 1...
     2016-06-01 15:00:00  2016-06-01 15:00:00    111.702096
2016-06-01 1...
     2016-06-01 16:00:00  2016-06-01 16:00:00    72.543718
2016-06-01 17...
     2016-06-01 17:00:00  2016-06-01 17:00:00    81.895583
2016-06-01 18...
     2016-06-01 18:00:00  2016-06-01 18:00:00    98.571979
2016-06-01 19...
     2016-06-01 19:00:00  2016-06-01 19:00:00    115.853253
2016-06-01 2...
     2016-06-01 20:00:00  2016-06-01 20:00:00    102.650304
2016-06-01 2...
     2016-06-01 21:00:00  2016-06-01 21:00:00    102.176823
2016-06-01 2...
     2016-06-01 22:00:00  2016-06-01 22:00:00    117.040910
2016-06-01 2...
     2016-06-01 23:00:00  2016-06-01 23:00:00    69.116673
2016-06-02 00...
...                                                                     ...
2168 2016-06-29 18:00:00  2016-06-29 18:00:00    -3.913872
2016-06-29 19...
     2016-06-29 19:00:00  2016-06-29 19:00:00     4.079588
2016-06-29 20...
     2016-06-29 20:00:00  2016-06-29 20:00:00     8.167934
2016-06-29 21...
     2016-06-29 21:00:00  2016-06-29 21:00:00     9.187338
2016-06-29 22...
     2016-06-29 22:00:00  2016-06-29 22:00:00     6.556142
2016-06-29 23...
     2016-06-29 23:00:00  2016-06-29 23:00:00    -2.842592
2016-06-30 00...
     2016-06-30 00:00:00  2016-06-30 00:00:00     2.999968
2016-06-30 01...
     2016-06-30 01:00:00  2016-06-30 01:00:00   -11.897084
2016-06-30 02...
     2016-06-30 02:00:00  2016-06-30 02:00:00   -21.740793
2016-06-30 03...
     2016-06-30 03:00:00  2016-06-30 03:00:00   -18.043492
2016-06-30 04...
     2016-06-30 04:00:00  2016-06-30 04:00:00   -11.672863
2016-06-30 05...
     2016-06-30 05:00:00  2016-06-30 05:00:00     7.747598
2016-06-30 06...
     2016-06-30 06:00:00  2016-06-30 06:00:00    13.728653
2016-06-30 07...
     2016-06-30 07:00:00  2016-06-30 07:00:00    15.296194
2016-06-30 08...
     2016-06-30 08:00:00  2016-06-30 08:00:00    12.119146
2016-06-30 09...
     2016-06-30 09:00:00  2016-06-30 09:00:00     0.069508
2016-06-30 10...
     2016-06-30 10:00:00  2016-06-30 10:00:00    -5.024301
2016-06-30 11...
     2016-06-30 11:00:00  2016-06-30 11:00:00   -7.899170
2016-06-30 12:...
     2016-06-30 12:00:00  2016-06-30 12:00:00    -1.436748
2016-06-30 13...
     2016-06-30 13:00:00  2016-06-30 13:00:00    10.958542
2016-06-30 14...
     2016-06-30 14:00:00  2016-06-30 14:00:00    1.815666
2016-06-30 15:...
     2016-06-30 15:00:00  2016-06-30 15:00:00    -1.090260
2016-06-30 16...
     2016-06-30 16:00:00  2016-06-30 16:00:00     7.813717
2016-06-30 17...
     2016-06-30 17:00:00  2016-06-30 17:00:00     3.130188
2016-06-30 18...
     2016-06-30 18:00:00  2016-06-30 18:00:00    -3.599442
2016-06-30 19...
     2016-06-30 19:00:00                                                NaN
     2016-06-30 20:00:00                                                NaN
     2016-06-30 21:00:00                                                NaN
     2016-06-30 22:00:00                                                NaN
     2016-06-30 23:00:00                                                NaN

                              err
1075 2016-05-31 18:00:00  17.5702
     2016-05-31 19:00:00  13.1172
     2016-05-31 20:00:00  17.9422
     2016-05-31 21:00:00  22.0675
     2016-05-31 22:00:00  12.6391
     2016-05-31 23:00:00  21.8889
     2016-06-01 00:00:00  3.11276
     2016-06-01 01:00:00  6.07457
     2016-06-01 02:00:00  4.62567
     2016-06-01 03:00:00  4.76683
     2016-06-01 04:00:00  3.22476
     2016-06-01 05:00:00  3.76655
     2016-06-01 06:00:00  4.71596
     2016-06-01 07:00:00  9.27421
     2016-06-01 08:00:00  7.31249
     2016-06-01 09:00:00  9.84573
     2016-06-01 10:00:00  10.2013
     2016-06-01 11:00:00     10.6
     2016-06-01 12:00:00  14.3964
     2016-06-01 13:00:00  16.8293
     2016-06-01 14:00:00  9.87876
     2016-06-01 15:00:00  12.0158
     2016-06-01 16:00:00  18.8748
     2016-06-01 17:00:00  18.3946
     2016-06-01 18:00:00  18.1028
     2016-06-01 19:00:00  12.2303
     2016-06-01 20:00:00  7.53627
     2016-06-01 21:00:00  8.70293
     2016-06-01 22:00:00  30.2658
     2016-06-01 23:00:00  4.63077
...                           ...
2168 2016-06-29 18:00:00  6.91492
     2016-06-29 19:00:00  9.47069
     2016-06-29 20:00:00  8.35232
     2016-06-29 21:00:00  9.46298
     2016-06-29 22:00:00  12.6748
     2016-06-29 23:00:00  18.2122
     2016-06-30 00:00:00  20.3819
     2016-06-30 01:00:00  23.1986
     2016-06-30 02:00:00  17.2094
     2016-06-30 03:00:00  9.42101
     2016-06-30 04:00:00  8.94228
     2016-06-30 05:00:00  11.6544
     2016-06-30 06:00:00   10.143
     2016-06-30 07:00:00  6.70696
     2016-06-30 08:00:00  6.24678
     2016-06-30 09:00:00  4.86778
     2016-06-30 10:00:00  5.51292
     2016-06-30 11:00:00   4.5848
     2016-06-30 12:00:00  5.59406
     2016-06-30 13:00:00  6.69193
     2016-06-30 14:00:00  3.06081
     2016-06-30 15:00:00  4.46998
     2016-06-30 16:00:00  7.08293
     2016-06-30 17:00:00  7.38396
     2016-06-30 18:00:00  7.77072
     2016-06-30 19:00:00      NaN
     2016-06-30 20:00:00      NaN
     2016-06-30 21:00:00      NaN
     2016-06-30 22:00:00      NaN
     2016-06-30 23:00:00      NaN

[74052 rows x 2 columns]

In [9]:
for ts in resDf.index.levels[0]:
    print ts, ' ',resDf.loc[ts,'2016-06-15'].err
    if ~np.isnan(resDf.loc[ts,'2016-06-15'].err):
        print 'not empty'

1075   6.79441292453
not empty
1076   nan
1077   nan
1125   nan
1126   nan
1127   64.1213432819
not empty
1128   89.2440387671
not empty
1129   89.7212243433
not empty
1130   113.933535449
not empty
1131   54.1941933683
not empty
1132   18.8257861958
not empty
1172   2.49754374869
not empty
1173   6.17553706967
not empty
1174   21.4829972669
not empty
1175   nan
1176   2.28949542907
not empty
1177   87.4832418877
not empty
1178   nan
1179   nan
1180   44.7194978672
not empty
1181   nan
1182   nan
1183   6.2956561422
not empty
1184   2.30007633781
not empty
1221   21.7350925975
not empty
1222   nan
1223   nan
1224   nan
1225   nan
1227   nan
1228   114.353835002
not empty
1229   114.408137708
not empty
1230   nan
1231   nan
1232   30.147863557
not empty
1233   85.5393312404
not empty
1234   32.8359309119
not empty
1235   17.0108105657
not empty
1272   35.9114361417
not empty
1273   71.1995509954
not empty
1274   4.78091319309
not empty
1278   1.98315104514
not empty
1279   2.16365636982
not empty
1280   nan
1281   133.914796555
not empty
1282   101.365358257
not empty
1283   nan
1284   nan
1285   nan
1286   nan
1287   nan
1326   9.01837338406
not empty
1327   10.4584030408
not empty
1331   13.4453251773
not empty
1332   16.5613092511
not empty
1333   21.372724412
not empty
1334   nan
1335   nan
1336   nan
1337   4.66154244871
not empty
1338   9.9086512707
not empty
1339   2.72384177302
not empty
1376   12.2996408778
not empty
1377   4.62165757179
not empty
1378   1.96791003821
not empty
1380   2.71384294826
not empty
1382   3.58943632848
not empty
1383   17.6307281265
not empty
1384   36.798964974
not empty
1385   nan
1386   nan
1387   nan
1388   43.2976678234
not empty
1389   4.52408612477
not empty
1390   nan
1426   2.57682480587
not empty
1431   11.1370622696
not empty
1434   0.286838845854
not empty
1435   13.258694571
not empty
1436   nan
1437   2.08965499691
not empty
1438   6.20456634984
not empty
1439   nan
1441   nan
1442   nan
1480   nan
1482   4.0182219578
not empty
1483   2.71144259456
not empty
1530   nan
1532   nan
1533   2.18798368991
not empty
1580   2.26892912708
not empty
1630   9.61172839868
not empty
1684   1.84266791029
not empty
1733   1.16595926844
not empty
1734   58.1360567457
not empty
1783   37.1617518011
not empty
2068   18.7857102572
not empty
2069   4.50610550109
not empty
2118   30.9276358596
not empty
2119   56.6442782907
not empty
2168   71.4463512747
not empty