In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [55]:
testSet = pd.read_csv('data.csv')
testSet.set_index('data',inplace=True)
testSet.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,2068_model,2068_Predict,2069_model,2069_Predict,2118_model,2118_Predict,2119_model,2119_Predict,2168_model,2168_Predict
data,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,80,144,50,77,319,402,531,617,846,267,...,41.0,41.0,4.0,4.0,70.0,70.0,7.0,7.0,66.0,66.0
2016-01-01 01:00:00,91,211,49,134,404,420,370,453,594,224,...,4.0,4.0,0.0,0.0,47.0,47.0,1.0,1.0,29.0,29.0
2016-01-01 02:00:00,90,146,23,110,393,425,313,366,377,138,...,0.0,0.0,0.0,0.0,69.0,69.0,1.0,1.0,14.0,14.0
2016-01-01 03:00:00,32,87,16,62,252,399,324,309,327,166,...,1.0,1.0,0.0,0.0,21.0,21.0,0.0,0.0,9.0,9.0
2016-01-01 04:00:00,24,43,10,53,145,254,264,333,318,145,...,0.0,0.0,0.0,0.0,26.0,26.0,1.0,1.0,6.0,6.0

In [56]:
# id нужных регионов
regsDf = pd.read_csv('../crowdRegs.csv',names=['id','regId']);  

# временные ряды для этих регионов
mySet = pd.read_pickle('../loadData/crowdRegs3.pcl')
mySet.columns = regsDf.regId.values.astype('str')
mySet = mySet.loc['01-2016':'07-2016',:]
mySet.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,1630,1684,1733,1734,1783,2068,2069,2118,2119,2168
2016-01-01 00:00:00,80,144,50,77,319,402,531,617,846,267,...,12,0,2,44,5,41,4,70,7,66
2016-01-01 01:00:00,91,211,49,134,404,420,370,453,594,224,...,29,0,5,2,2,4,0,47,1,29
2016-01-01 02:00:00,90,146,23,110,393,425,313,366,377,138,...,47,0,3,0,4,0,0,69,1,14
2016-01-01 03:00:00,32,87,16,62,252,399,324,309,327,166,...,46,0,2,4,5,1,0,21,0,9
2016-01-01 04:00:00,24,43,10,53,145,254,264,333,318,145,...,43,0,0,1,1,0,0,26,1,6

In [65]:
for colName in mySet.columns:
    mySeries = mySet.loc[:,colName]
    testSeries = testSet.loc[:,colName]
    diff = mySeries - testSeries
    diff = np.abs(diff)
    diff = np.sum(diff)
    print colName, diff

1075 0
1076 0
1077 0
1125 0
1126 0
1127 0
1128 0
1129 1
1130 0
1131 0
1132 0
1172 0
1173 0
1174 0
1175 0
1176 0
1177 0
1178 0
1179 0
1180 0
1181 0
1182 0
1183 0
1184 0
1221 0
1222 0
1223 0
1224 0
1225 0
1227 0
1228 0
1229 0
1230 1
1231 0
1232 0
1233 0
1234 2
1235 0
1272 0
1273 0
1274 0
1278 0
1279 0
1280 0
1281 0
1282 0
1283 0
1284 0
1285 0
1286 0
1287 0
1326 0
1327 0
1331 0
1332 1
1333 0
1334 0
1335 0
1336 0
1337 0
1338 0
1339 0
1376 0
1377 0
1378 0
1380 0
1382 0
1383 0
1384 0
1385 0
1386 0
1387 0
1388 0
1389 0
1390 0
1426 0
1431 0
1434 0
1435 0
1436 0
1437 0
1438 0
1439 0
1441 0
1442 0
1480 0
1482 0
1483 0
1530 0
1532 0
1533 0
1580 0
1630 0
1684 0
1733 0
1734 0
1783 0
2068 2
2069 0
2118 1
2119 0
2168 0